<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons>
            <ion-button routerLink="/about">
                About
            </ion-button>
            <ion-button routerLink="/archived">
                Archived
            </ion-button>
            <ion-button routerLink="/home">
                Event Stream
            </ion-button>
            <ion-button routerLink="/add-event">
                Add Event
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div></div>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-card>
                    <img src="https://source.unsplash.com/400x400/?future" />
                    <ion-card-header>
                        <ion-card-subtitle>Destination</ion-card-subtitle>
                        <ion-card-title>Madison, WI</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card>
                    <img src="https://source.unsplash.com/400x400/?future" />
                    <ion-card-header>
                        <ion-card-subtitle>Destination</ion-card-subtitle>
                        <ion-card-title>Madison, WI</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card>
                    <img src="https://source.unsplash.com/400x400/?future" />
                    <ion-card-header>
                        <ion-card-subtitle>Destination</ion-card-subtitle>
                        <ion-card-title>Madison, WI</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card>
                    <img src="https://source.unsplash.com/400x400/?future" />
                    <ion-card-header>
                        <ion-card-subtitle>Destination</ion-card-subtitle>
                        <ion-card-title>Madison, WI</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card>
                    <img src="https://source.unsplash.com/400x400/?future" />
                    <ion-card-header>
                        <ion-card-subtitle>Destination</ion-card-subtitle>
                        <ion-card-title>Madison, WI</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card>
                    <img src="https://source.unsplash.com/400x400/?future" />
                    <ion-card-header>
                        <ion-card-subtitle>Destination</ion-card-subtitle>
                        <ion-card-title>Madison, WI</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card>
                    <img src="https://source.unsplash.com/400x400/?future" />
                    <ion-card-header>
                        <ion-card-subtitle>Destination</ion-card-subtitle>
                        <ion-card-title>Madison, WI</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card>
                    <img src="https://source.unsplash.com/400x400/?future" />
                    <ion-card-header>
                        <ion-card-subtitle>Destination</ion-card-subtitle>
                        <ion-card-title>Madison, WI</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>