<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-grid>
            <ion-row>
                <ion-col size="2">
                    <ion-menu-button></ion-menu-button>
                </ion-col>
                <ion-col class="ion-align-self-center">
                    <div id="container" style="width: 100%;">
                        <div id="logo" style="margin:auto;" (click)="goHome()">
                            <ion-text><span class="green" style="color:green;">Dorset</span> Events</ion-text>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>