<app-navbar-mobile></app-navbar-mobile>

<ion-content>
    <div class="about-container">
        <ion-grid>
            <ion-row>
                <ion-col></ion-col>
                <ion-col>
                    <div class="centre full-width">
                        <ion-title>About</ion-title>
                    </div>
                </ion-col>
                <ion-col></ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <div class="centre">
                        <ion-text>
                            the purpose of this website is to implement a system where students can create read update delete events like assingments and school functions, the events are then organized using the javascript Date class by order of deadline | to view overdue events
                            go to /archived
                            <br><br> CREDITS
                            <br> Images from:
                            <a href="https://source.unsplash.com/" target="_blank">https://source.unsplash.com/</a>
                            <br> Calendar:
                            <a href="https://www.youtube.com/watch?v=_hVdPEmbwA0" target="_blank">Simon Grimm: https://www.youtube.com/watch?v=_hVdPEmbwA0</a>
                            <br>
                            <a href="https://devdactic.com/ionic-5-calendar-modal/" target="_blank">Simon Grimm: https://devdactic.com/ionic-5-calendar-modal/</a>
                        </ion-text>
                    </div>

                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>
<app-footer-mobile></app-footer-mobile>