<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons>
            <ion-button routerLink="/about">
                About
            </ion-button>
            <ion-button routerLink="/archived">
                Archived
            </ion-button>
            <ion-button routerLink="/home">
                Event Stream
            </ion-button>
            <ion-button routerLink="/add-event">
                Add Event
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div>
        <ion-title>About</ion-title>
        <ion-text>
            the purpose of this website is to implement a system where students can create read update delete events like assingments and school functions, the events are then organized using the javascript Date class by order of deadline
        </ion-text>
        <br>
        <ion-text>
            &copy; 2020 | Nicholas Chibuike-Eruba
        </ion-text>
    </div>
</ion-content>