<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons>
            <ion-button routerLink="/about">
                About
            </ion-button>
            <ion-button routerLink="/archived">
                Archived
            </ion-button>
            <ion-button routerLink="/home">
                Event Stream
            </ion-button>
            <ion-button routerLink="/add-event">
                Add Event
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-grid>
        <ion-row>
            <ion-col *ngFor="let event of events">
                <app-event [event]="event"></app-event>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>